<div class="center-content">
    <form [formGroup]="formGroupSederana" >
        <div class="form-group">
            <div>Name</div>
            <div><input formControlName="name" class="input" type="text" placeholder="name"></div>
        </div>
        <div class="form-group">
            <div>Email</div>
            <div>
                <input formControlName="email" class="input" type="email" placeholder="example@email.com">
            </div>
            <div *ngIf="formGroupSederana.controls['email'].valid" >
                <span style="color: green;" >Email Sudah Valid</span>
            </div>
            <div *ngIf="!formGroupSederana.controls['email'].valid">
                <span style="color: red;" >Email Tidak Valid</span>
            </div>
        </div>
        <div class="form-group">
            <div>Nickname</div>
            <div><input formControlName="nickname" class="input" type="text" placeholder="nickname"></div>
        </div>
        <div class="form-group">
            <div>Job</div>
            <div><input formControlName="job" class="input" type="text" placeholder="job"></div>
        </div>
        <div class="form-group">
            <div>Balance</div>
            <div><input formControlName="balance" class="input" type="text" placeholder="99999999999"></div>
        </div>
        <div class="form-group">
            <button (click)="checkValidation()" type="button" class="btn-submit">Submit Form</button>
        </div>
    </form>
</div>

<div class="center-content padding-top-16">
    <table>
        <tr>
            <td>Name langsung dari Form Group</td>
            <td>: {{ formGroupSederana.controls["name"].value }}</td>
        </tr>
        <tr>
            <td>Name dari variable displayName</td>
            <td>: {{ displayName }}</td>
        </tr>
    </table>
</div>

